.container-order {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 20px;
  color: white;
  background-color: var(--section-color);
  border-radius: 12px;
  border: var(--border);

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    .filters {
      display: flex;
      gap: 10px;

      button {
        background-color: white;
      }

      button.active {
        background-color: red;
      }
    }
  }

  .orders {
    width: 100%;
    border-collapse: collapse;
    color: white;
  }

  .orders th,
  .orders td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
}
