.container-order {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 20px;
  color: white;
  background-color: var(--section-color);
  border-radius: 12px;
  border: var(--border);
  gap: 15px;

  #title {
    font-size: 22px;
    font-weight: bold;
  }
  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    button, input {
        background-color: #1d293d;
        border: none;
        padding: 10px 15px;
        color: oklch(86.9% 0.022 252.894);
        transition: 0.3;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
      }

    .filters {
      display: flex;
      gap: 10px;

      

      button.active {
        background-color: #1947ce;
        color: white;
        font-weight: bold;
      }
    }
  }

  .orders {
    width: 100%;
    border-collapse: collapse;
    color: white;
  }

  .orders th,
  .orders td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
}
