header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--section-color);
  color: white;
  width: 100%;
  padding: 10px;
  border: var(--border);

  .title {
    h1 {
      font-size: 22px;
      font-family: "nunito-sbold";
    }
    p {
      font-family: "nunito-light";
      font-size: 14px;
    }
  }
  .bell-profile {
    display: flex;
    align-items: center;
    gap: 15px;

    .bell {
      position: relative;
      display: flex;
      justify-content: center;
      cursor: pointer;
      padding: 5px;
      transition: 0.3s;
      border-radius: 7px;

      #notify {
        position: absolute;
        background-color: red;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        right: 2px;
        top: 2px;
      }
    }

    .bell:hover {
      background-color: #1e293b;
    }

    .profile {
      display: flex;
      gap: 15px;
      border-left: 1px #314158 solid;
      padding-left: 20px;

      p.role {
        font-family: "nunito-light";
        font-size: 13px;
      }
      button {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        border: none;
        color: white;
        background-color: #0e71f1;
        font-family: "nunito-sbold";
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 485px) {
  .profile > div {
    display: none;
  }
}
