.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  background-color: var(--section-color);
  color: white;
  padding: 20px;
  width: 100%;
  border-radius: 12px;
  border: var(--border);
  transition: 0.2s;

  .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;

    img {
      padding: 15px;
      border-radius: var(--default-border-radius);
    }

    #little-ball {
      height: 8px;
      width: 8px;
      border-radius: 100%;
    }
  }

  #description {
    font-size: 14px;
    margin-bottom: 7px;
    color: #899ab2;
  }
  #value {
    font-family: "nunito-sbold";
    font-weight: bold;
    font-size: 25px;
  }
}

.item:hover {
  border: var(--hover-border);
}
