* {
  margin: 0;
  box-sizing: border-box;
  font-family: "nunito";
}

:root {
  --section-color: #0f172b;
  --principal-color: #020618;

  --boder-color: #314158;

  --default-yellow: #fdc700;
  --default-green: #05df72;
  --default-red: #ff6467;
  --default-blue: #51a2ff;

  --default-border-radius: 10px;
  --border: 1px solid #1d293d;
  --hover-border: 1px solid #323a49;
}

html {
  background-color: var(--principal-color);
}

@font-face {
  font-family: "nunito";
  src: url("./assets/fonts/Nunito/static/Nunito-Medium.ttf");
}

@font-face {
  font-family: "nunito-light";
  src: url("./assets/fonts/Nunito/static/Nunito-Light.ttf");
}

@font-face {
  font-family: "nunito-bold";
  src: url("./assets/fonts/Nunito/static/Nunito-Bold.ttf");
}

@font-face {
  font-family: "nunito-sbold";
  src: url("./assets/fonts/Nunito/static/Nunito-ExtraBold.ttf");
}
